.app {
  background-color:var(--on-primary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.mastermind {
  font-size: var(--xs); 
  color: var(--style-color);
  padding: var(--xs);
  margin: var(--m);
  border-radius: var(--m);
  border: 2px solid var(--pink-style);
  overflow: auto;
}