.circle {
  height: var(--m);
  width: var(--m);
  padding: var(--xs);
  border-radius: 50%;
  border-color: var(--primary-color);
  display: inline-block;
  margin-right:  5px;
  margin-bottom: var(--xs);
  text-align: center;
  color: var(--primary-color);
}



.r {
  background-color: var(--circle-red);
  color: var(--circle-red);
}

.b {
  background-color: var(--circle-blue);
  color: var(--circle-blue);
}

.g {
  background-color: var(--circle-green);
  color: var(--circle-green);
}

.y {
  background-color: var(--circle-yellow);
  color: var(--circle-yellow);
}

.m{
  background-color: var(--circle-maroon);
  color: var(--circle-maroon);
}

.c{
  background-color: var(--circle-silver);
  color: var(--circle-silver);
}