*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --primary-color:black;
  --on-primary-color: white;

  --background-color: white;
  --on-background-color: black;
  
  --style-color: linear-gradient(to left, var(--purple-style), var(--pink-style));
  --on-style-color: linear-gradient(to left, var(--pink-style), var(--purple-style));

  --xs: 1rem;
  --xm: 1.5rem;
  --s: 2rem;
  --m: 3rem;
  --l: 4rem;
  --xl: 5rem;

  --purple-style:#553c9a;
  --pink-style:#b393d3;

  --circle-red: red;
  --circle-blue: blue;
  --circle-green:green;
  --circle-yellow: yellow;
  --circle-maroon: maroon;
  --circle-silver: silver;

}

.dark-theme {
  --background-color: black;
  --on-background-color: white;
}

.high-contrast-theme {
  --background-color: black;
  --on-background-color: white;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
